GOOGLE_CLIENT_ID=""
GOOGLE_CLIENT_SECRET=""
GOOGLE_ENFORCE_ALLOWED_EMAILS="true"
GOOGLE_ALLOWED_EMAILS="alice@example.com, bob@example.com"
NEXTAUTH_SECRET=""
NEXTAUTH_URL=https://blank-url.com
NEXTAUTH_TRUST_HOST=true
NODE_ENV=development
BACKEND_INTERNAL_URL=http://web:8000
